{% extends 'catalog/base.html' %}
{% block content %}
<title>Описание</title>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Наименование - "{{ object.name }}"</h4>
            <h4 class="my-0 font-weight-normal">Описание     - "{{ object.description }}"</h4>
            <h4 class="my-0 font-weight-normal">Категория    - "{{ object.category }}"</h4>
            <h4 class="my-0 font-weight-normal">Цена         - "{{ object.price }}"</h4>
        </div>
    </div>
</div>
{% endblock %}